.SocialMedia {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    gap: 10px;
}

.SocialMedia a {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.SocialMedia .image-github {
    transition-duration: 60s;
}

.SocialMedia .image-github:hover {
    transform: rotateZ(36000deg);
}
